.panel-body{
    background-color:white;

}
body {
    background-color:#f4f4f4;
}
.panel {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 8px 11px 3px;
    border:none;
}