<div class="col-md-12">
    <div class="media lg">
        <a href="" class="pull-left">
            <img class="media-object" src="https://lh5.ggpht.com/p-SI-FKdXrZ33jpaF08K8sG9QiQVYCsqggS8LyjLSsUS7Fy9YqUeegt0WwRPd4ccfsA=w300-rw" style="height:130px;">
        </a>

        <div class="media-body">
            <h2 class="media-heading right">Concur</h2>
            <div class="description right">Norton Mobile Security with anti-malware provides comprehensive mobile protection from malware, grayware, viruses, mobile span</div>
            <div class="field right"><label>App ID:</label>
                <span class="fieldControl">app.symantec.com</span>
            </div>
            <div class="field right"><label>Users:</label>
                <span class="fieldControl">administrators</span>
            </div>
            <div class="field right"><label>Entitlements:</label>
                <span class="fieldControl">administrators</span>
            </div>

            <!--begin: description-->

            <!--end: app properties-->
        </div>

    </div>
    <!--end:reviews-->
</div>