<a href="" class="pull-left">
    <div class="media-object"><i class="fa fa-mobile fa-5x"></i></div>
</a>
<div class="media-body">
            <h2 class="media-heading right">{{ deviceDetails["device-info"]["name"] }}</h2>
            <div class="field right"><label>Owner:</label>
                <span class="fieldControl">{{ deviceDetails["device-info"]["username"] }}</span>
            </div>
            <div class="field right"><label>Platform</label>
                <span class="fieldControl">{{ deviceDetails["device-info"]["platform"] }}</span>
            </div>
            <div class="field right"><label>Device type:</label>
                <span class="fieldControl">{{ deviceDetails["device-info"]["device_class"] }}</span>
            </div>
    <div class="field right"><label>Policy:</label>
        <span class="fieldControl">Default Policy</span>
    </div>

  </div>