
    <div class="media lg">
        
    
            <a href="" class="pull-left">
                <div class="media-object"><i class="fa fa-shield fa-5x"></i></div>
            </a>
        <div class="media-body">
            <h2 class="media-heading right">{{ devicePolicy.policy_name }}</h2>
            <div class="description right">{{ devicePolicy.description }}</div>
            <div class="field right"><label>Compliance Policy:</label>
                <span class="fieldControl">{{ devicePolicy.compliance_policy }}</span>
            </div>
            <div class="field right"><label>Groups:</label>
                <span class="fieldControl">{{ devicePolicy.groups }}</span>
            </div>
            <div class="field right"><label>Policy Rank:</label>
                <span class="fieldControl">{{ devicePolicy.policy_rank }}</span>
            </div>
            
            <div class="field right">
                <label>Mobile Security Settings:</label></div>
                <div class="field right">
                    <label>Scan Frequency:</label>
                    <span class="fieldControl">{{ devicePolicy.mobsec_setting.setting_scan_frequency }}</span>
                </div>
                <div class="field right">
                    <label>Include SDCard:</label>
                    <span class="fieldControl">{{ devicePolicy.mobsec_setting.setting_include_sdcard }}</span>
                </div>
                <div class="field right">
                    <label>Managed Web Protection</label>
                    <span class="fieldControl">{{ devicePolicy.mobsec_setting.setting_managed_web_protection }}</span>
                </div>
                
            </div>
        </div>
            <!--begin: description-->

            <!--end: app properties-->
        </div>
        </div>