<div class="media-body">
            <h2 class="media-heading right">{{ apps.metadata.title }}</h2>
            <div class="field right"><label>Owner:</label>
                <span class="fieldControl">{{ deviceDetails["device-info"]["username"] }}</span>
            </div>
            <div class="field right"><label>Device name:</label>
                <span class="fieldControl">{{ deviceDetails["device-info"]["name"] }}</span>
            </div>
            <div class="field right"><label>Platform</label>
                <span class="fieldControl">{{ deviceDetails["device-info"]["platform"] }}</span>
            </div>
            <div class="field right"><label>Device type:</label>
                <span class="fieldControl">{{ deviceDetails["device-info"]["device_class"] }}</span>
            </div>

  </div>