<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Carlypso</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">


</head>
<div ng-app="app" ng-controller="carsController">
    <div class="container">

        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand"><img src="//d29uzrms85oiw4.cloudfront.net/images/carlypso_logo.png"
                                                 width="168" height="auto"></a>
                </div>
            </div>

        </nav>
        {{count}}
        <div class="carList">
            <div class="row">

                <div class="col-sm-3 carCard" ng-repeat="car in cars">
                    <div class="clearfix">

                        <div class="carImg">
                            <div class="miles" ng-if="car.odometer">{{car.odometer}} miles</div>
                            <div class="model" ng-if="car.model || car.make">{{car.model}}{{car.make}}</div>
                            <img
                                ng-src="https://s3-us-west-1.amazonaws.com/carlypso-shop2/v2/1e6ktkybsb/gray/retina-gz.jpg"
                                width="100%"
                                src="https://s3-us-west-1.amazonaws.com/carlypso-shop2/v2/1e6ktkybsb/gray/retina-gz.jpg">
                            <div class="price" ng-if="car.price">${{car.price}}/div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="/components/angular/angular.js"></script>
<script type="text/javascript" src="/components/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/components/angular-bootstrap/ui-bootstrap.js"></script>

<script src="/js/app.js"></script>
<script src="js/controllers/carsController.js"></script>
<script src="js/services/carsService.js"></script>


</body>
</html>