<!DOCTYPE html>
<html ng-app="plunker">

<head>
  <meta charset="utf-8" />
  <title>AngularJS Plunker</title>
  <link data-require="bootstrap-css@3.0.0" data-semver="3.0.0" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  <link data-require="font-awesome@4.3.0" data-semver="4.3.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" href="style.css" />
  <script data-require="jquery@2.0.3" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script data-require="angular.js@1.0.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js" data-semver="1.0.8"></script>
  <script data-require="modernizr@2.6.2" data-semver="2.6.2" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.js"></script>
  <script src="jsSpeechFactory.js"></script>
  <script src="Speech.js"></script>
  <script src="app.js"></script>	
</head>

<body ng-controller="MainCtrl" ng-cloak="">
    <div class="container">
      <div class="collapse navbar-collapse">
      </br>
      </br>
      </div>
      <!--/.nav-collapse -->
    </div>
  <div class="container">
    
    <div class="row">
      <div class="col-md-12">
        
        
        
        <js-speech ng-model="speech"></js-speech>
      </div>
    </div>
  </div>
  <!-- /.container -->
</body>

</html>
